<div class="container mt-5 d-flex justify-content-center">
    <div class="row col-5">
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="password" >
        <div class="d-flex p-0 mt-2">
            <section class="level me-1" [style]="firstBlock"></section>
            <section class="level me-1" [style]="secondBlock"></section>
            <section class="level" [style]="thirdBlock"></section>
        </div>
    </div>
</div>
